body {
    margin: 0;
    background-color: #0C4A6E;
    text-align: center;
}

@font-face {
    src:url("digital-7.ttf");
    font-family: lcd;
}

.container {
    width: 500px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 50px auto;
    padding: 20px 20px 60px;
    border: 2px solid #0EA5E9;
    border-radius: 10px;
}

h1 {
    color: #EEEEEE;
    font-size: 50px;
    font-family: Oxanium;
    margin:0;
    padding: 20px 0 10px 0;
    text-shadow: 2px 2px 0 #111;
}

h2 {
    color: #BE123C;
    width: 155px; max-height: 120px;
    background-color: #111111;
    font-size: 90px;
    font-family: lcd;
    margin: 0;
    padding-top: 10px;
    border-radius: 10px;
    outline: 1px dotted #ccc;
    outline-offset: -5px;
}

.button-row {
    display: flex;
    justify-content: space-between;
    margin: 2px;
}
button {
    border: 1px solid #0EA5E9;
    font-family: lcd;
    font-size: 18px;
    border-radius: 5px;
    background-color: transparent;
    color: #0EA5E9;
    padding: 5px 13px 3px;
    margin-top: 10px;
}
button:hover {
    outline: 3px solid #0EA5E9;
}


#newgame {
    background-color: #0EA5E9;
    color: #111;
    margin-top: 30px;
    width: 200px;
    font-size: 1.5rem;
}
#undo-home, #undo-guest {
    margin-top: 30px;
    background-color: #0369A1;
}